{template 'common/header'}

<ul class="nav nav-tabs">
    <form action=""  method="post" >
        <input type="text" name="keyword" class="form-control" style="width:25%;float:left;" value="{$_GPC['keyword']}" placeholder="名称、手机号或年龄" >

        <select name="sex_s" style="width: 150px;" >
            <option value="0" >不限男女</option>
            <option value="2" {if $_GPC['sex_s']==2}selected{/if} >男</option>
            <option value="1" {if $_GPC['sex_s']==1}selected{/if} >女</option>
        </select>

        <input type="hidden" name="search" value="1">
        <button type="submit" class="btn btn-default" >搜索</button>
    </form>

</ul>

<div class="main">
    <a href="javascript:cupmodal(0);" class="btn btn-primary pull-left"><span>+</span>添加pdf</a>
    <div style="padding: 15px;">
        <table class="table table-hover table-striped table-condensed">
            <thead class="navbar-inner">
            <tr>
                <th style="text-align: center;">项目名</th>
                <th style="text-align: center;">名字</th>
                <th style="text-align: center;">手机号</th>
                <th style="text-align: center;">性别</th>
                <th style="text-align: center;">年龄</th>
                <th style="text-align: center;">身份证号</th>
                <th style="text-align: center;">操作</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $item}
            <tr>
                <td style="text-align: center;">{$item['xmname']}</td>
                <td style="text-align: center;">{$item['name']}</td>
                <td style="text-align: center;">{$item['mobile']}</td>
                <td style="text-align: center;">{if $item['sex']==1}男{else}女{/if}</td>
                <td style="text-align: center;">{$item['age']}</td>
                <td style="text-align: center;">{$item['idcard']}</td>
                <td style="text-align: center;">
                    <a href="{media $item['pdfurl']}" target="_blank" title="查看" class="btn btn-small">查看</a>

                    <a href="javascript:cupmodal({$item['id']},'{$item['name']}','{$item['mobile']}','{$item['sex']}','{$item['age']}','{$item['pdfurl']}','{$item['idcard']}','{$item['xmname']}');"
                       title="编辑" class="btn btn-small">编辑</a>
                    <a href="javascript:if(confirm('是否删除？')){location.href='{php echo $this->createWebUrl('list',array('id'=>$item['id'],'del'=>1))}'};"
                       title="删除" class="btn btn-small">删除</a>
                </td>
            </tr>
            {/loop}
            </tbody>

        </table>
        {$pager}
    </div>

</div>

<!-- 模态框（Modal） -->
<style>
    .modal-backdrop{
        z-index: 400;
    }
    #myModal{
        z-index: 500;
    }
    .we7-modal-dialog .modal-content, .modal-dialog .modal-content{
        max-height: 800px;
    }
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
            </div>
            <form action="" method="post" class="form-horizontal" enctype="multipart/form-data" >
                <div class="modal-body" id="mo-content" >

                    <div class="form-group">
                        <label class="col-sm-2 control-label must">项目名</label>
                        <div class="col-sm-4 col-xs-6" >
                            <input type="text" name="xmname" class="form-control" value="" data-rule-required="true" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label must">名字</label>
                        <div class="col-sm-4 col-xs-6" >
                            <input type="text" name="name" class="form-control" value="" data-rule-required="true" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label must">手机号</label>
                        <div class="col-sm-4 col-xs-6" >
                            <input type="text" name="mobile" class="form-control" value="" data-rule-required="true" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label must">性别</label>
                        <div class="col-sm-4 col-xs-6" >
                            <label class="radio-inline"><input type="radio" name="sex" id="sex1" value="1" checked="1" aria-invalid="false" class="valid">男</label>
                            <label class="radio-inline"><input type="radio" name="sex" id="sex0" value="0" aria-invalid="false" class="valid">女</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label must">年龄</label>
                        <div class="col-sm-4 col-xs-6" >
                            <input type="text" name="age" class="form-control" value="" data-rule-required="true" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label must">身份证号</label>
                        <div class="col-sm-4 col-xs-6" >
                            <input type="text" name="idcard" class="form-control" value="" data-rule-required="true" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">pdf文件</label>
                        <div class="col-sm-4 col-xs-6" >
                            <input type="text" name="pdfurl" class="form-control" value="" data-rule-required="true" />
                            <input type="file" name="pdffile" >
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <input type="hidden" name="id" value="" >
                    <button type="submit" class="btn btn-primary">提交更改</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function cupmodal(id,name,mobile,sex,age,pdfurl,idcard,xmname) {
        if(id==0){
            $("input[name='id']").val('');
            $("input[name='name']").val('');
            $("input[name='mobile']").val('');
            $("#sex1").attr('checked',true);
            $("input[name='age']").val('');
            $("input[name='idcard']").val('');
            $("input[name='pdfurl']").val('');
            $("input[name='xmname']").val('');
        }else {
            $("input[name='id']").val(id);
            $("input[name='name']").val(name);
            $("input[name='mobile']").val(mobile);
            if(sex==1){
                $("#sex1").attr('checked',true);
            }else {
                $("#sex0").attr('checked',true);
            }
            $("input[name='age']").val(age);
            $("input[name='idcard']").val(idcard);
            $("input[name='pdfurl']").val(pdfurl);
            $("input[name='xmname']").val(xmname);
        }

        $('#myModal').modal();
    }
</script>

{template 'common/footer'}
